<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @doctor.lastName %>
</p>

<p>
  <strong>Area:</strong>
  <%= @doctor.area %>
</p>

<p>
  <strong>Age:</strong>
  <%= @doctor.age %>
</p>

<p>
  <strong>Picturename:</strong>
  <%= @doctor.pictureName %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@doctor.picture_url, :width => 80) if @doctor.picture.present? %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
