<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @doctor.lastName %>
</p>

<p>
  <strong>Numpatients:</strong>
  <%= @doctor.numPatients %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @doctor.sex %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
