<div class="container">
<p id="notice"><%= notice %></p>
  <div class="ih-item circle effect1 col-sm-2   "><a href="#">
        <div class="spinner"><div ><%= image_tag(food.picture_url,:class=>"img-circle pull-left") if food.picture.present? %></div></div>
        
        </a>
  </div>
  <br>
  <h1 class="pull-left col-sm-9">Food Info</h1>
  <br><br><br><br><br><br><br><br><br>
<div class="container">
<p>
  <strong><%= food.name %></strong>
</p>

<p>
  <strong>Restaurant</strong>
  <%= food.rest_name%>
</p>
<hr>
<p>
  <label>Cal:</label>
  <%= food.cal %>
</p>
<hr>
<p>
  <label>Fat:</label>
  <%= food.fat %>
</p>
<hr>
<p>
  <label>Sugar:</label>
  <%= food.sugar %>
</p>
<hr>
<p>
  <label>Location:</label>
  <%= food.location %>
</p>
<hr>
</div>
</div>
