<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rest_name %><br>
    <%= f.text_field :rest_name,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :cal %><br>
    <%= f.number_field :cal,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.number_field :fat,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :sugar %><br>
    <%= f.number_field :sugar,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>    
    <%= f.file_field :picture,:class=>"btn verde" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
