<p id="notice"><%= notice %></p>

<p>
  <strong><%= @food.name %></strong>
</p>

<p>
  <strong>Restaurant</strong>
  <%= @food.rest_name%>
</p>

<p>
  <strong>Cal:</strong>
  <%= @food.cal %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @food.fat %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @food.sugar %>
</p>

<p>
  <strong>Location:</strong>
  <%= @food.location %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @food.picture %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
