<p id="notice"><%= notice %></p>

<p>
  <strong>Res id:</strong>
  <%= @food.res_Id %>
</p>

<p>
  <strong>Cal:</strong>
  <%= @food.cal %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @food.fat %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @food.sugar %>
</p>

<p>
  <strong>Location:</strong>
  <%= @food.location %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@food.picture_url, :width => 80) if @food.picture.present? %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
