<div class="container">
<p id="notice"><%= notice %></p>
<br>
  <h1 class="col-sm-9">Patient Goals</h1>
<div class="container">
  <br><br><br><br>
<div class="container">
<p>
  <label>Type:</label>
  <%= @goal.type_id %>
</p>
<hr>
<p>
  <label>Title:</label>
  <%= @goal.title %>
</p>
<hr>
<p>
  <label>End:</label>
  <%= @goal.end %>
</p>
<hr>
<p>
  <label>Date:</label>
  <%= @goal.date %>
</p>
<hr>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
<hr>
  </div>
</div>