<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @goal.type_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>End:</strong>
  <%= @goal.end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @goal.date %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
